/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #1E90FF; /* Um tom de azul brilhante */
    color: #FFFFFF; /* Texto branco */
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 36px;
}

.buttons {
    margin-top: 20px;
}

.button {
    background-color: #0000FF; /* Azul "buuum" */
    color: #FFFFFF;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    text-decoration: none; /* Removendo a sublinhado padrão dos links */
}

.button:hover {
    background-color: #00008B; /* Tom mais escuro de azul no hover */
}

/* Estilos para dispositivos com largura de tela menor ou igual a 768px (exemplo de tamanho de tela para tablets e dispositivos móveis) */
@media (max-width: 768px) {
    body {
        font-size: 16px; /* Reduz o tamanho da fonte para dispositivos menores */
    }

    h1 {
        font-size: 24px; /* Reduz o tamanho do título */
    }

    .buttons {
        margin-top: 10px; /* Reduz o espaço entre os botões */
    }

    .button {
        font-size: 16px; /* Reduz o tamanho dos botões */
        padding: 8px 16px; /* Reduz o preenchimento dos botões */
    }
}

/* Estilos para dispositivos com largura de tela maior que 768px (exemplo de tamanho de tela para desktops) */
@media (min-width: 769px) {
    /* Não é necessário definir estilos adicionais para desktops, pois eles seguirão os estilos gerais. */
}
